# Imports

In [1]:
import numpy as np
import pandas as pd
import os
import sys

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

# Add the parent folder to sys.path
sys.path.append(os.path.abspath(os.path.join('..')))
from src.feature_engineering import get_famtype, extract_title, extract_deck

# Load Data

In [2]:
train_data = pd.read_csv("../data/raw/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("../data/raw/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# Create copies and separate targets from features
titanic_train = train_data.copy()
titanic_train_target = titanic_train["Survived"]
titanic_train = train_data.drop("Survived", axis=1)

titanic_test = test_data.copy()

# Feature Engineering

### Create new features "FamType" & "Title"

In [5]:
titanic_train = get_famtype(titanic_train)
titanic_train = extract_title(titanic_train)
titanic_train = extract_deck(titanic_train)
# titanic_train["AgeBin"] = pd.cut(titanic_train["Age"], bins=[0,12,18,60,100], labels=["Child","Teen","Adult","Senior"])

titanic_train.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamSize,FamType,Title,Deck
0,1,3,male,22.0,1,0,A/5 21171,7.2500,S,2,Small,Mr,Unknown
1,2,1,female,38.0,1,0,PC 17599,71.2833,C,2,Small,Mrs,C
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S,1,Solo,Miss,Unknown
3,4,1,female,35.0,1,0,113803,53.1000,S,2,Small,Mrs,C
4,5,3,male,35.0,0,0,373450,8.0500,S,1,Solo,Mr,Unknown

In [6]:
titanic_test = get_famtype(titanic_test)
titanic_test = extract_title(titanic_test)
titanic_test = extract_deck(titanic_test)
# titanic_test["AgeBin"] = pd.cut(titanic_test["Age"], bins=[0,12,18,60,100], labels=["Child","Teen","Adult","Senior"])

titanic_test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamSize,FamType,Title,Deck
0,892,3,male,34.5,0,0,330911,7.8292,Q,1,Solo,Mr,Unknown
1,893,3,female,47.0,1,0,363272,7.0000,S,2,Small,Mrs,Unknown
2,894,2,male,62.0,0,0,240276,9.6875,Q,1,Solo,Mr,Unknown
3,895,3,male,27.0,0,0,315154,8.6625,S,1,Solo,Mr,Unknown
4,896,3,female,22.0,1,1,3101298,12.2875,S,3,Small,Mrs,Unknown

### Save to files

In [ ]:
titanic_train.to_csv("../data/processed/train.csv", index=False)
titanic_test.to_csv("../data/processed/test.csv", index=False)